.icon {
  height: 40px;
  width: 40px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: auto 70%;
  border-radius: 10px;
}
.isWindows .icon {
  border-radius: 0;
}
.isAndroid .icon {
  border-radius: 50px;
}
.icon.car {
  background-color: #29abe2;
  background-image: url(../images/car.png);
  background-size: 70% auto;
}
.icon.map {
  background-color: #52c5d0;
  background-image: url(../images/map-marker.png);
  background-size: 70% auto;
}
